body {
	margin: 0;
	padding: 0;
}

#header {
	height: 100px;
	line-height: 100px;
	margin: 0;
	background-color: #000;

}

#title {
	font-family: 'Russo One', sans-serif;
	color: #FFF;
	font-size: 50px;
	margin-left: 40px;
	vertical-align: middle;
}






.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
	width: 60%;
	float: left;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.margin {
	width: 20%
}

form {
	text-align: center;
}









footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    background-color: #333;
    height: 45px;
}

footer a {
    margin-right: 20px;
    color: white;
}

footer p {
    color: white;
}